body{
    background-color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.header {
    background-image: url("/Users/smenon/Desktop/12345.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: scroll;
    margin: auto;
    overflow: auto;
}
.lightbulb {
    height: 150px;
    width: 125px;
    position: absolute;
    top: 40px;
    left: 875px;
}
@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
.fadeIn {
	animation-name: fadeIn;
    opacity: 1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
#head {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(1, 33, 121);
}
span {
    color: cornflowerblue;
}
h1#head {
    font-size: 150px;
    text-align: right;
    margin-right: 600px;
    margin-top: 213px;
    color: rgb(252, 202, 0);
}
h3#head {
    font-size: 30px;
    margin-left: 70px;
    margin-top: 30px;
}
h4#head {
    font-size: 18px;
    color: rgb(255, 81, 0);
    text-emphasis: italic;
    margin-left: 70px;
    margin-top: 50px;
}
#yellow {
    color: rgb(253, 224, 144)
}
#green {
    color: rgb(157, 255, 157);
}
#pink {
    color: rgb(255, 203, 211);
}
.panel2 {
    background-color: rgb(144, 214, 255);
}
.panel2 h2 {
    font-family: myriad-pro, sans-serif;
    font-size: 60px;
    color: white;
    margin-left: 70px;
}

